%nav.navbar.navbar-dark.bg-dark
  %a.navbar-brand{ href: '#' } Dewts
  %button.navbar-toggler{ aria: { controls: 'Dewts - Inventory Tracking',
                                  expanded: 'false',
                                  label: 'Toggle navigation' },
                          data: { target: '#dnavbar',
                                  toggle: 'collapse' },
                          type: 'button' }
    %span.navbar-toggler-icon
  .navbar-collapse.collapse#dnavbar
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{ href: '#' }
          .dnav-icon
            = fa_icon('home')
          Home
          %span.sr-only(current)
      - unless user_signed_in?
        %li.nav-item
          = link_to new_user_session_path, class: 'nav-link' do
            .dnav-icon
              = fa_icon('sign-in')
            Sign In
        %li.nav-item
          = link_to new_user_registration_path, class: 'nav-link disabled' do
            .dnav-icon
              = fa_icon('user-plus')
            Sign Up
      %li.nav-item
        = link_to about_path, class: 'nav-link' do
          .dnav-icon
            = fa_icon('users')
          About Us
      - if user_signed_in?
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{ aria: { expanded: false,
                                               haspopup: true },
                                       data: { toggle: 'dropdown',
                                               href: 'https://example.com' } }
            .dnav-icon
              = fa_icon('address-card')
            Account
          .dropdown-menu{ aria: { labelledby: 'dropdown00' } }
            = link_to destroy_user_session_path,
                      class: 'dropdown-item',
                      method: :delete do
              .dnav-icon
                = fa_icon('sign-out')
              Sign Out
