%nav.navbar.navbar-dark.bg-dark
  %a.navbar-brand{ href: '#' } Dewts
  %button.navbar-toggler{ aria: { controls: 'Dewts - Inventory Tracking',
                                  expanded: 'false',
                                  label:    'Toggle navigation' },
                          data: { target: '#navbarsExample01',
                                  toggle: 'collapse' },
                          type: 'button' }
    %span.navbar-toggler-icon
  #navbarsExample01.navbar-collapse.collapse{ style: '' }
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{ href: '#' }
          .dnav-icon
            = fa_icon('home')
          Home
          %span.sr-only(current)
      %li.nav-item
        %a.nav-link{ href: '#' }
          .dnav-icon
            = fa_icon('sign-in')
          Sign In
      %li.nav-item
        %a.nav-link.disabled{ href: '#' }
          .dnav-icon
            = fa_icon('user-plus')
          Sign Up
      %li.navi-item
        %a.nav-link
          .dnav-icon
            = fa_icon('users')
          About Us
      - if false  # will be for signed-in users only
        %li.nav-item.dropdown
          %a#dropdown01.nav-link.dropdown-toggle{ aria: { expanded: false,
                                                          haspopup: true },
                                                  data: { toggle:   'dropdown',
                                                          href:     'https://example.com' } }
          Dropdown
        .dropdown-menu{ aria: { labelledby: 'dropdown00' } }
          %a.dropdown-item{ href: '#' }
            .dnav-icon
              = fa_icon('sign-out')
            Sign Out
